@using MVCProjectDay3.ViewModels.Courses

@model List<CourseGetVM>
@{
    int order = 1;
}
<a class="btn btn-primary" asp-action="Create">Create</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#Id</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Trainer's name</th>
            <th scope="col">Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <th scope="row">@(order++)</th>
                <td><img src="~/imgs/courses/@item.ImageUrl" width="50" height="50"/></td>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.TrainerName</td>
                <td>@item.Date</td>
                <td>
                <a asp-action="Update" asp-route-id="@item.Id">Update</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
       
        
    </tbody>
</table>

